In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('access_logs.txt',sep=" ",header=None)

In [3]:
df.head(10)

,0,1,2,3,4,5
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61
5,2018-01-26,09:56:41,javascript-i/loops,2,22.0,97.105.19.61
6,2018-01-26,09:56:46,javascript-i/conditionals,3,22.0,97.105.19.61
7,2018-01-26,09:56:48,javascript-i/functions,3,22.0,97.105.19.61
8,2018-01-26,09:56:59,javascript-i/loops,2,22.0,97.105.19.61
9,2018-01-26,09:58:26,javascript-i/functions,4,22.0,97.105.19.61

In [4]:
df.columns = ['date','time','path','id','unk_float','ip']

In [5]:
df.sort_values(by='date',ascending=False)

,date,time,path,id,unk_float,ip
399194,2019-11-19,10:07:45,search/search_index.json,455,33.0,97.105.19.58
399032,2019-11-19,09:07:49,9-timeseries/project,467,34.0,97.105.19.58
399030,2019-11-19,09:07:43,9-timeseries/project,479,34.0,97.105.19.58
399029,2019-11-19,09:07:37,9-timeseries/5.2-modeling-lesson2,467,34.0,97.105.19.58
399028,2019-11-19,09:07:21,9-timeseries/5.2-modeling-lesson2,480,34.0,97.105.19.58
399027,2019-11-19,09:06:52,9-timeseries/5.2-modeling-lesson2,471,34.0,97.105.19.58
399026,2019-11-19,09:06:49,9-timeseries/5.1-modeling-lesson1,467,34.0,97.105.19.58
399025,2019-11-19,09:06:47,9-timeseries/5.2-modeling-lesson2,485,34.0,97.105.19.58
399024,2019-11-19,09:06:45,9-timeseries/5.2-modeling-lesson2,481,34.0,97.105.19.58
399023,2019-11-19,09:06:45,9-timeseries/4-explore,467,34.0,97.105.19.58
399022,2019-11-19,09:06:41,/,467,34.0,97.105.19.58
399021,2019-11-19,09:06:29,9-timeseries/5-modeling,467,34.0,97.105.19.58
399020,2019-11-19,09:06:17,9-timeseries/5.2-modeling-lesson2,478,34.0,97.105.19.58
399019,2019-11-19,09:06:13,9-timeseries/5.2-modeling-lesson2,482,34.0,97.105.19.58
399018,2019-11-19,09:06:06,9-timeseries/5.2-modeling-lesson2,248,28.0,97.105.19.58
399017,2019-11-19,09:03:51,appendix/capstone-workbook,445,33.0,97.105.19.58
399016,2019-11-19,09:03:18,html-css/css-ii/bootstrap-introduction,532,52.0,97.105.19.58
399015,2019-11-19,09:03:07,spring,515,33.0,97.105.19.58
399014,2019-11-19,09:01:51,html-css/css-ii/bootstrap-introduction,522,52.0,97.105.19.58
399013,2019-11-19,09:01:44,html-css,522,52.0,97.105.19.58
399012,2019-11-19,09:01:36,toc,522,52.0,97.105.19.58
399011,2019-11-19,09:01:36,html-css/css-ii/bootstrap-introduction,518,52.0,97.105.19.58
399010,2019-11-19,09:01:34,/,522,52.0,97.105.19.58
399009,2019-11-19,09:01:13,html-css/elements,541,52.0,97.105.19.58
399008,2019-11-19,09:00:41,9-timeseries/5.2-modeling-lesson2,475,34.0,97.105.19.58
399007,2019-11-19,08:59:44,html-css/css-ii/bootstrap-introduction,531,52.0,97.105.19.58
399006,2019-11-19,08:58:54,html-css/css-ii/bootstrap-introduction,519,52.0,97.105.19.58
399005,2019-11-19,08:58:39,9-timeseries/project,248,28.0,97.105.19.58
399004,2019-11-19,08:57:33,html-css/css-ii/bootstrap-introduction,521,52.0,97.105.19.58
399003,2019-11-19,08:57:30,html-css,521,52.0,97.105.19.58
...,...,...,...,...,...,...
372,2018-01-26,16:00:59,javascript-i/introduction/operators,18,22.0,97.105.19.61
371,2018-01-26,16:00:56,javascript-i/introduction/primitive-types,18,22.0,97.105.19.61
370,2018-01-26,16:00:43,git/intellij,38,21.0,97.105.19.61
369,2018-01-26,16:00:36,appendix,38,21.0,97.105.19.61
367,2018-01-26,16:00:29,javascript-i/introduction/working-with-data-ty...,34,22.0,209.205.123.242
392,2018-01-26,16:23:19,mkdocs/search_index.json,30,22.0,97.105.19.61
366,2018-01-26,16:00:22,javascript-i/introduction/working-with-data-ty...,30,22.0,97.105.19.61
365,2018-01-26,15:59:40,javascript-i/introduction/working-with-data-ty...,30,22.0,97.105.19.61
364,2018-01-26,15:59:36,mkdocs/search_index.json,30,22.0,97.105.19.61
363,2018-01-26,15:59:31,javascript-i/functions,7,22.0,97.105.19.61
362,2018-01-26,15:59:29,spring/fundamentals/controllers,38,21.0,97.105.19.61
361,2018-01-26,15:59:26,javascript-i/functions,7,22.0,97.105.19.61
375,2018-01-26,16:01:08,javascript-i/conditionals,18,22.0,97.105.19.61
376,2018-01-26,16:01:10,git/cli,38,21.0,97.105.19.61
377,2018-01-26,16:02:16,javascript-i/functions,34,22.0,209.205.123.242
378,2018-01-26,16:06:53,javascript-i/introduction/operators,18,22.0,97.105.19.61
379,2018-01-26,16:09:26,javascript-i/conditionals,18,22.0,97.105.19.61
380,2018-01-26,16:09:46,javascript-i/loops,18,22.0,97.105.19.61
381,2018-01-26,16:11:51,spring/fundamentals/security,15,21.0,97.105.19.61
382,2018-01-26,16:12:03,spring/extra-features/json-response,15,21.0,97.105.19.61
383,2018-01-26,16:15:33,spring/fundamentals/repositories,15,21.0,97.105.19.61
384,2018-01-26,16:15:43,spring/fundamentals/relationships,15,21.0,97.105.19.61
385,2018-01-26,16:16:00,spring/fundamentals/security,15,21.0,97.105.19.61
386,2018-01-26,16:16:13,spring/fundamentals/controllers,15,21.0,97.105.19.61
387,2018-01-26,16:16:29,spring/fundamentals/repositories,15,21.0,97.105.19.61
388,2018-01-26,16:17:49,spring,38,21.0,97.105.19.61
389,2018-01-26,16:17:55,appendix/capstone-workbook,17,21.0,97.105.19.61
390,2018-01-26,16:18:47,javascript-i/introduction/variables,13,22.0,97.105.19.61
391,2018-01-26,16:21:21,mysql/aliases,36,21.0,97.105.19.61
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61

In [37]:
len(df.id.unique())

543

In [7]:
df.dtypes

date          object
time          object
path          object
id             int64
unk_float    float64
ip            object
dtype: object

In [41]:
df_t5 = df[df.id.isin([53,64,11,344,1])]

In [71]:
df_max = df.groupby('id')['id','date'].max()

In [72]:
df_min = df.groupby('id')['id','date'].min()

In [75]:
df_min_max = pd.concat([df_min,df_max],axis=1)

In [77]:
df_min_max.drop(columns='id',inplace=True)

In [83]:
df_min_max.columns = ['min_date','max_date']

In [84]:
df_min_max.head(2)

      min_date    max_date
id
1   2018-01-26  2019-11-19
2   2018-01-26  2018-05-10

In [87]:
df_min_max.min_date = pd.to_datetime(df_min_max.min_date)
df_min_max.max_date = pd.to_datetime(df_min_max.max_date)

In [88]:
df_min_max.head(2)

     min_date   max_date
id
1  2018-01-26 2019-11-19
2  2018-01-26 2018-05-10

In [92]:
df_min_max['date_diff'] = df_min_max['max_date'] - df_min_max['min_date']

In [93]:
df_min_max.dtypes

min_date      datetime64[ns]
max_date      datetime64[ns]
date_diff    timedelta64[ns]
dtype: object

In [94]:
df_min_max.head(2)

     min_date   max_date date_diff
id
1  2018-01-26 2019-11-19  662 days
2  2018-01-26 2018-05-10  104 days

In [100]:
np.timedelta64(1, 'D')

df_min_max.date_diff = df_min_max.date_diff/np.timedelta64(1,'D')

In [103]:
df_min_max[df_min_max.date_diff > 180].sort_values(by='date_diff',ascending=False)

      min_date   max_date  date_diff
id
1   2018-01-26 2019-11-19      662.0
11  2018-01-26 2019-11-19      662.0
64  2018-01-29 2019-11-19      659.0
53  2018-01-28 2019-11-18      659.0
41  2018-01-26 2019-11-15      658.0
48  2018-01-26 2019-11-14      657.0
15  2018-01-26 2019-11-12      655.0
73  2018-01-30 2019-11-11      650.0
88  2018-02-05 2019-11-17      650.0
68  2018-01-30 2019-11-04      643.0
79  2018-01-31 2019-11-01      639.0
18  2018-01-26 2019-10-22      634.0
19  2018-01-26 2019-10-12      624.0
26  2018-01-26 2019-10-11      623.0
75  2018-01-31 2019-10-13      620.0
20  2018-01-26 2019-10-08      620.0
124 2018-03-05 2019-11-09      614.0
118 2018-03-05 2019-11-06      611.0
37  2018-01-26 2019-09-25      607.0
147 2018-03-19 2019-11-11      602.0
146 2018-03-19 2019-10-31      591.0
94  2018-02-09 2019-09-23      591.0
148 2018-03-19 2019-10-22      582.0
145 2018-03-19 2019-10-13      573.0
171 2018-04-19 2019-11-10      570.0
51  2018-01-27 2019-08-17      567.0
80  2018-02-02 2019-08-23      567.0
175 2018-05-01 2019-11-11      559.0
101 2018-02-15 2019-08-26      557.0
138 2018-03-09 2019-09-16      556.0
..         ...        ...        ...
366 2019-02-05 2019-10-01      238.0
373 2019-03-18 2019-11-09      236.0
379 2019-03-19 2019-11-07      233.0
61  2018-01-29 2018-09-17      231.0
258 2018-09-16 2019-05-03      229.0
383 2019-03-19 2019-10-31      226.0
43  2018-01-26 2018-09-01      218.0
375 2019-03-18 2019-10-22      218.0
390 2019-03-19 2019-10-22      217.0
306 2018-11-05 2019-06-07      214.0
223 2018-07-23 2019-02-22      214.0
98  2018-02-11 2018-09-12      213.0
251 2018-09-07 2019-04-07      212.0
188 2018-05-29 2018-12-27      212.0
270 2018-09-17 2019-04-15      210.0
225 2018-07-23 2019-02-18      210.0
139 2018-03-12 2018-10-04      206.0
326 2019-01-22 2019-08-16      206.0
395 2019-03-19 2019-10-09      204.0
238 2018-07-23 2019-02-06      198.0
403 2019-05-02 2019-11-15      197.0
347 2019-01-23 2019-08-05      194.0
29  2018-01-26 2018-08-07      193.0
297 2018-11-05 2019-05-17      193.0
404 2019-05-09 2019-11-15      190.0
130 2018-03-05 2018-09-06      185.0
227 2018-07-23 2019-01-23      184.0
84  2018-02-04 2018-08-06      183.0
336 2019-01-22 2019-07-22      181.0
181 2018-05-24 2018-11-21      181.0

[202 rows x 3 columns]

,date,time,path,id,unk_float,ip,min_date,max_date,date_diff
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,NaT,NaT,NaN
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,2018-01-26,2019-11-19,662.0
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,2018-01-26,2018-05-10,104.0
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,2018-01-26,2019-04-06,435.0
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,2018-01-26,2018-03-27,60.0
5,2018-01-26,09:56:41,javascript-i/loops,2,22.0,97.105.19.61,2018-01-26,2018-07-19,174.0
6,2018-01-26,09:56:46,javascript-i/conditionals,3,22.0,97.105.19.61,2018-01-26,2019-03-18,416.0
7,2018-01-26,09:56:48,javascript-i/functions,3,22.0,97.105.19.61,2018-01-26,2019-06-27,517.0
8,2018-01-26,09:56:59,javascript-i/loops,2,22.0,97.105.19.61,2018-01-26,2018-03-14,47.0
9,2018-01-26,09:58:26,javascript-i/functions,4,22.0,97.105.19.61,2018-01-26,2018-05-11,105.0
10,2018-01-26,09:59:22,mkdocs/search_index.json,5,22.0,97.105.19.61,2018-01-26,2019-05-23,482.0
11,2018-01-26,10:00:02,javascript-i/introduction/working-with-data-ty...,6,22.0,97.105.19.61,2018-01-26,2019-11-19,662.0
12,2018-01-26,10:00:37,/,6,22.0,97.105.19.61,2018-01-26,2018-11-19,297.0
13,2018-01-26,10:00:39,javascript-i,6,22.0,97.105.19.61,2018-01-26,2018-05-02,96.0
14,2018-01-26,10:00:44,javascript-i/introduction/working-with-data-ty...,6,22.0,97.105.19.61,2018-01-26,2018-10-10,257.0
15,2018-01-26,10:00:49,javascript-i/introduction/variables,6,22.0,97.105.19.61,2018-01-26,2019-11-12,655.0
16,2018-01-26,10:00:57,javascript-i/introduction/operators,6,22.0,97.105.19.61,2018-01-26,2019-05-23,482.0
17,2018-01-26,10:01:12,javascript-i/introduction/working-with-data-ty...,6,22.0,97.105.19.61,2018-01-26,2018-02-18,23.0
18,2018-01-26,10:02:02,javascript-i/functions,7,22.0,97.105.19.61,2018-01-26,2019-10-22,634.0
19,2018-01-26,10:02:21,javascript-i/functions,8,22.0,97.105.19.61,2018-01-26,2019-10-12,624.0
20,2018-01-26,10:02:42,javascript-i/functions,9,22.0,97.105.19.61,2018-01-26,2019-10-08,620.0
21,2018-01-26,10:05:26,javascript-i/conditionals,7,22.0,97.105.19.61,2018-01-26,2018-07-18,173.0
22,2018-01-26,10:05:36,javascript-i/functions,7,22.0,97.105.19.61,2018-01-26,2018-02-27,32.0
23,2018-01-26,10:08:22,mkdocs/search_index.json,10,21.0,97.105.19.61,2018-01-26,2018-03-09,42.0
24,2018-01-26,10:08:34,git/merge-conflict-demo,10,21.0,97.105.19.61,2018-01-26,2018-02-07,12.0
25,2018-01-26,10:08:45,mkdocs/search_index.json,10,21.0,97.105.19.61,2018-01-26,2019-07-15,535.0
26,2018-01-26,10:08:55,git/working-in-teams,10,21.0,97.105.19.61,2018-01-26,2019-10-11,623.0
27,2018-01-26,10:09:15,javascript-i/introduction/primitive-types,4,22.0,97.105.19.61,2018-01-26,2018-07-18,173.0
28,2018-01-26,10:09:24,javascript-i/introduction/operators,4,22.0,97.105.19.61,2018-01-26,2019-06-19,509.0
29,2018-01-26,10:10:16,javascript-i/functions,3,22.0,97.105.19.61,2018-01-26,2018-08-07,193.0
...,...,...,...,...,...,...,...,...,...
399165,2019-11-19,10:00:27,html-css,522,52.0,97.105.19.58,NaT,NaT,NaN
399166,2019-11-19,10:00:29,html-css/css-ii/bootstrap-introduction,540,52.0,97.105.19.58,NaT,NaT,NaN
399167,2019-11-19,10:00:33,html-css/css-ii/bootstrap-introduction,522,52.0,97.105.19.58,NaT,NaT,NaN
399168,2019-11-19,10:00:40,html-css/css-ii/bootstrap-introduction,526,52.0,97.105.19.58,NaT,NaT,NaN
399169,2019-11-19,10:00:54,html-css/css-ii/bootstrap-introduction,542,52.0,97.105.19.58,NaT,NaT,NaN
399170,2019-11-19,10:01:23,10-anomaly-detection/exercises,11,28.0,97.105.19.58,NaT,NaT,NaN
399171,2019-11-19,10:01:25,6-regression/1-overview,11,28.0,97.105.19.58,NaT,NaT,NaN
399172,2019-11-19,10:01:40,9-timeseries/5.1-modeling-lesson1,475,34.0,97.105.19.58,NaT,NaT,NaN
399173,2019-11-19,10:01:50,html-css/css-ii/bootstrap-introduction,516,52.0,97.105.19.58,NaT,NaT,NaN
399174,2019-11-19,10:02:00,html-css/css-ii/bootstrap-introduction,532,52.0,97.105.19.58,NaT,NaT,NaN
399175,2019-11-19,10:02:24,html-css/css-ii/bootstrap-introduction,535,52.0,97.105.19.58,NaT,NaT,NaN
399176,2019-11-19,10:02:38,9-timeseries/3-prep,467,34.0,97.105.19.58,NaT,NaT,NaN
399177,2019-11-19,10:03:01,9-timeseries/2-acquire,475,34.0,97.105.19.58,NaT,NaT,NaN
399178,2019-11-19,10:03:48,/,455,33.0,97.105.19.58,NaT,NaT,NaN
399179,2019-11-19,10:04:02,toc,528,52.0,97.105.19.58,NaT,NaT,NaN
399180,2019-11-19,10:04:04,spring,455,33.0,97.105.19.58,NaT,NaT,NaN
399181,2019-11-19,10:04:08,html-css/css-ii/bootstrap-introduction,528,52.0,97.105.19.58,NaT,NaT,NaN
399182,2019-11-19,10:04:12,appendix,455,33.0,97.105.19.58,NaT,NaT,NaN
399183,2019-11-19,10:04:19,appendix/capstone-workbook,455,33.0,97.105.19.58,NaT,NaT,NaN
399184,2019-11-19,10:04:27,search/search_index.json,455,33.0,97.105.19.58,NaT,NaT,NaN
399185,2019-11-19,10:05:00,9-timeseries/project,472,34.0,97.105.19.58,NaT,NaT,NaN
399186,2019-11-19,10:05:53,html-css/css-i/flexbox/flexbox-fundamentals,211,28.0,192.171.117.210,NaT,NaT,NaN
399187,2019-11-19,10:06:13,html-css/css-ii/bootstrap-introduction,211,28.0,192.171.117.210,NaT,NaT,NaN
399188,2019-11-19,10:06:21,jquery/effects,410,32.0,67.11.157.190,NaT,NaT,NaN
399189,2019-11-19,10:06:26,jquery,410,32.0,67.11.157.190,NaT,NaT,NaN
399190,2019-11-19,10:06:28,spring/fundamentals/controllers,445,33.0,97.105.19.58,NaT,NaT,NaN
399191,2019-11-19,10:06:50,spring/fundamentals/views,445,33.0,97.105.19.58,NaT,NaT,NaN
399192,2019-11-19,10:07:03,8-clustering/3-wrangle,475,34.0,97.105.19.58,NaT,NaT,NaN
399193,2019-11-19,10:07:07,7-classification/2-acquire,475,34.0,97.105.19.58,NaT,NaT,NaN
399194,2019-11-19,10:07:45,search/search_index.json,455,33.0,97.105.19.58,NaT,NaT,NaN

In [105]:
df.head(2)

         date      time     path  id  unk_float            ip
0  2018-01-26  09:55:03        /   1        8.0  97.105.19.61
1  2018-01-26  09:56:02  java-ii   1        8.0  97.105.19.61

In [108]:
df_min_max = df_min_max.reset_index()

In [109]:
df_min_max.head(2)

   id   min_date   max_date  date_diff
0   1 2018-01-26 2019-11-19      662.0
1   2 2018-01-26 2018-05-10      104.0

In [111]:
df = df.merge(df_min_max,left_on='id',right_on='id')

In [113]:
df.shape

(399195, 9)

In [126]:
df_path_count = df.groupby('path')['path'].count()

In [135]:
df_path_count.columns = ['path','count']

In [139]:
df_path_count = pd.DataFrame(df_path_count)

In [145]:
df_path_count.columns = ['count']

In [148]:
df_path_count.sort_values(by='count',ascending=False)

                                                    count
path
/                                                   20564
javascript-i                                         8140
search/search_index.json                             7005
toc                                                  6679
html-css                                             6143
java-iii                                             6003
spring                                               5761
jquery                                               5501
java-ii                                              5386
mysql                                                5103
java-i                                               5039
javascript-ii                                        5024
mysql/tables                                         3692
html-css/elements                                    3644
javascript-i/functions                               3585
javascript-i/javascript-with-html                    3452
appendix                                             3431
mysql/databases                                      3430
javascript-i/introduction/working-with-data-typ...   3326
javascript-i/loops                                   3298
mysql/users                                          3231
html-css/css-ii/bootstrap-introduction               3211
html-css/css-ii/bootstrap-grid-system                3203
java-iii/jsp-and-jstl                                3140
html-css/forms                                       3112
javascript-i/conditionals                            3101
mysql/basic-statements                               3092
spring/fundamentals/views                            2913
java-iii/servlets                                    2910
java-ii/object-oriented-programming                  2910
...                                                   ...
appendix/further-reading/java/intellij                  1
code-standards/javascript                               1
cohorts/%7Bid%7D/grades.csvhttp://tools.codeup....      1
cohorts/24/capstone-all                                 1
content/examples/php/gitbook/images/favicon.ico         1
css                                                     1
content/postwork/dashboard.md                           1
content/php_iii/alternative-syntax.html                 1
content/mysql/relationships/indexes.html                1
content/mysql/intro-to-mysql/index.html                 1
content/mysql/clauses/order-by.html                     1
content/jquery/events/gitbook/images/favicon.ico        1
content/jquery/effects/gitbook/images/favicon.ico       1
content/html-css/search_index.json                      1
content/html-css/elements-i/lists.html                  1
content/git/index.html                                  1
content/examples/php/Input.php                          1
cohorts/24/grades                                       1
content/examples/javascript/primitive-types.html        1
content/examples/javascript/conditionals.html           1
content/examples/gitbook/images/favicon.ico             1
content/examples/examples/html/gitbook/images/f...      1
content/examples/constructors-destructors.html          1
content/control-structures-ii                           1
content/appendix/postwork/pdf-parser.html               1
content/appendix/postwork/facebook-clone.html           1
content/appendix/control-structures.html                1
collections                                             1
cohorts/27/quizzes                                      1
wp-login                                                1

[1641 rows x 1 columns]

In [170]:
df['webdev_path'] = (df.path.str.contains('java',regex=False)) | (df.path.str.contains('css',regex=False)) | (df.path.str.contains('html',regex=False)) | (df.path.str.contains('spring',regex=False)) | (df.path.str.contains('jquery',regex=False))

In [154]:
df_spring = df[(df.path.str.contains('spring',regex=False))]

In [171]:
df_unassigned = df[df.webdev_path == False]

In [172]:
df_unassigned = pd.DataFrame(df_unassigned.groupby('path')['path'].count())

In [173]:
df_unassigned.columns = ['count']

In [174]:
df_unassigned.sort_values(by='count',ascending=False)

                                                    count
path
/                                                   20564
search/search_index.json                             7005
toc                                                  6679
mysql                                                5103
mysql/tables                                         3692
appendix                                             3431
mysql/databases                                      3430
mysql/users                                          3231
mysql/basic-statements                               3092
mysql/introduction                                   2395
mysql/relationships/joins                            2034
mkdocs/search_index.json                             1909
mysql/database-design                                1860
mysql/group-by                                       1604
mysql/functions                                      1595
mysql/sample-database                                1460
appendix/capstone-workbook                           1363
mysql/relationships/indexes                          1354
mysql/clauses/where                                  1253
mysql/clauses/order-by                               1229
mysql/relationships/sub-queries                      1210
mysql/intellij                                       1205
mysql/aliases                                        1192
mysql/clauses/limit                                  1008
mysql/clauses                                         807
mysql/relationships                                   777
Intro_to_Regression_Module                            665
1-fundamentals/modern-data-scientist.jpg              600
6-regression/1-overview                               594
1-fundamentals/AI-ML-DL-timeline.jpg                  593
...                                                   ...
DataSets_SaaSCustomerChurn                              1
DataSet_Zillow                                          1
Correlation.md                                          1
Clustering_Project                                      1
Clustering_DataPrep                                     1
About_NLP                                               1
9.4_DBSCAN_to_detect_anomalies.md                       1
9-anomaly-detection/time-series-anomaly-detecti...      1
annotations                                             1
app                                                     1
appendix/branching                                      1
appendix/capstone-workbook/sw-planning.md               1
capstone/52                                             1
capstone/50                                             1
capstone                                                1
capsones/151                                            1
bonus-exercises                                         1
bom-and-dom/bom                                         1
bom-and-dom                                             1
asdf                                                    1
arash-arghavan                                          1
appendix/testing-code.md                                1
appendix/intellij-intro                                 1
appendix/further-reading/mysql/host-wildcards.md        1
appendix/further-reading/mysql                          1
appendix/extra-exercises                                1
appendix/cls/2-listing-files                            1
appendix/cli/2-overview                                 1
appendix/cli/2-Overview                                 1
wp-login                                                1

[1166 rows x 1 columns]

In [175]:
df['type'] = np.where(df.webdev_path == True,'webdev','unk')

In [8]:
df.head(5)

,date,time,path,id,unk_float,ip
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61

In [265]:
df['type'] = np.where(df.path.str.contains('scientist'),'ds',df.type)
df['type'] = np.where(df.path.str.contains('science'),'ds',df.type)
df['type'] = np.where(df.path.str.contains('ellij'),'webdev',df.type)
df['type'] = np.where(df.path.str.contains('gression'),'ds',df.type)
df['type'] = np.where(df.path.str.contains('pandas'),'ds',df.type)
df['type'] = np.where(df.path.str.contains('object_oriented'),'webdev',df.type)
df['type'] = np.where(df.path.isin(['/','mysql','appendix','search/search_index.json']),'general',df.type)
df['type'] = np.where(df.path.str.contains('java'),'webdev',df.type)
df['type'] = np.where(df.path.str.contains('toc'),'webdev',df.type)
df['type'] = np.where(df.path.str.contains('stats'),'ds',df.type)
df['type'] = np.where(df.path.str.contains('Stats'),'ds',df.type)
df['type'] = np.where(df.path.str.contains('python'),'ds',df.type)

In [266]:
df_unassigned = df[df.type == 'unk']

In [267]:
df_unassigned = df_unassigned.groupby('path')['path'].count()

In [268]:
df_unassigned = pd.DataFrame(df_unassigned)
df_unassigned.columns = ['count']

In [269]:
df_unassigned.sort_values(by='count',ascending=False).head(50)

                                                count
path
mysql/tables                                     3692
mysql/databases                                  3430
mysql/users                                      3231
mysql/basic-statements                           3092
mysql/introduction                               2395
mysql/relationships/joins                        2034
mkdocs/search_index.json                         1909
mysql/database-design                            1860
mysql/group-by                                   1604
mysql/functions                                  1595
mysql/sample-database                            1460
appendix/capstone-workbook                       1363
mysql/relationships/indexes                      1354
mysql/clauses/where                              1253
mysql/clauses/order-by                           1229
mysql/relationships/sub-queries                  1210
mysql/aliases                                    1192
mysql/clauses/limit                              1008
mysql/clauses                                     807
mysql/relationships                               777
1-fundamentals/AI-ML-DL-timeline.jpg              593
3.0-mysql-overview                                528
appendix/cli-git-overview                         477
slides/syntax_types_and_variables                 476
1._Fundamentals                                   424
slides/arrays                                     401
appendix/documentation                            385
slides/servlets                                   372
slides/jsp_and_jstl                               364
slides/collections                                358
examples/bootstrap-grid/assets.zip                356
slides/inheritance_and_polymorphism               352
slides/methods                                    352
slides/console_io                                 330
appendix/capstone-workbook/sw-project-planning    325
6_Exercises                                       318
slides/jdbc                                       317
4.2_data_types_and_variables                      315
slides/control_statements_and_loops               311
slides/interfaces_and_abstract_classes            306
slides/mvc                                        293
appendix/slides                                   279
slides/deployment_and_dependencies                268
git                                               262
appendix/git/branching                            261
slides/strings                                    258
content/php_i                                     256
7_Exercises                                       245
appendix/git/cli                                  244
3.1-mysql-introduction                            243

In [270]:
df_unassigned['count'].sum()

81246

In [281]:
1117 + 1789+ 720 +640

4266

In [305]:
df[['unk_float','id']].count()

unk_float    372441
id           399195
dtype: int64

In [369]:
df_unk = df[['id','unk_float']]

In [389]:
#df_unk.columns = ['num','num2']
#df_unk.drop(columns='num2',inplace=True)
df_unk.groupby('id').count().sort_values(by='num',ascending=False).head(20)

     num
id
88     3
1      2
257    2
211    2
346    2
64     2
53     2
314    2
312    2
40     2
118    2
248    2
25     2
37     2
539    2
11     2
146    2
428    2
409    1
383    1

In [370]:
df_unk = df_unk.groupby(['id','unk_float']).nunique()

In [359]:
df_id = df.groupby(['id','unk_float'])['id','unk_float'].count()

In [392]:
df_88 = df[df.id.isin([88])]

In [400]:

df_88.date = pd.to_datetime(df_88.date)
df_88.set_index('date',inplace=True)

In [419]:
df_types = pd.DataFrame(df.groupby(['unk_float','type'])['unk_float'].count())

In [423]:
df['webdev_path'] = df.type == 'webdev'

In [433]:
df_web = df[['id','type']][df.webdev_path == True]

In [436]:
df_web = df_web.groupby('id').count().reset_index()

In [456]:
df_me = df[(df.time <)&(df.date == '2019-10-21') & (df.type == 'ds') & (df.min_date < '2019-08-24') & (df.unk_float == 34) & (df.min_date >'2019-05-25') & (df.ip != '97.105.19.58')]

In [462]:
df_me.sort_v

,date,time,path,id,unk_float,ip,min_date,max_date,date_diff,webdev_path,type
379885,2019-10-21,00:17:34,6-regression/8.0-Project,479,34.0,172.14.106.31,2019-08-20,2019-11-19,91.0,False,ds
373412,2019-10-21,00:21:04,6-regression/5.0-evaluate,471,34.0,99.158.246.101,2019-08-20,2019-11-19,91.0,False,ds
373413,2019-10-21,00:32:30,6-regression/8.0-Project,471,34.0,99.158.246.101,2019-08-20,2019-11-19,91.0,False,ds
373414,2019-10-21,00:33:16,5-stats/4.3-correlation,471,34.0,99.158.246.101,2019-08-20,2019-11-19,91.0,False,ds
373415,2019-10-21,00:33:23,6-regression/1-overview,471,34.0,99.158.246.101,2019-08-20,2019-11-19,91.0,False,ds
373416,2019-10-21,00:33:32,6-regression/8.0-Project,471,34.0,99.158.246.101,2019-08-20,2019-11-19,91.0,False,ds
382844,2019-10-21,00:41:29,6-regression/8.0-Project,483,34.0,24.27.227.1,2019-08-20,2019-11-19,91.0,False,ds
384718,2019-10-21,01:03:50,6-regression/4.0-explore,485,34.0,76.211.181.33,2019-08-20,2019-11-19,91.0,False,ds
384719,2019-10-21,01:06:08,4-python/7.2-intro-to-matplotlib,485,34.0,76.211.181.33,2019-08-20,2019-11-19,91.0,False,ds
371507,2019-10-21,01:28:13,6-regression/3.0-split-and-scale,468,34.0,136.50.54.2,2019-08-20,2019-11-19,91.0,False,ds
373418,2019-10-21,02:09:01,1-fundamentals/1.2-data-science-pipeline,471,34.0,99.158.246.101,2019-08-20,2019-11-19,91.0,False,ds
379886,2019-10-21,02:17:01,6-regression/5.0-evaluate,479,34.0,172.14.106.31,2019-08-20,2019-11-19,91.0,False,ds
384720,2019-10-21,02:18:37,6-regression/8.0-Project,485,34.0,76.211.181.33,2019-08-20,2019-11-19,91.0,False,ds
384721,2019-10-21,04:26:13,1-fundamentals/1.1-intro-to-data-science,485,34.0,76.211.181.33,2019-08-20,2019-11-19,91.0,False,ds
384722,2019-10-21,04:26:13,1-fundamentals/modern-data-scientist.jpg,485,34.0,76.211.181.33,2019-08-20,2019-11-19,91.0,False,ds
384724,2019-10-21,04:26:55,6-regression/8.0-Project,485,34.0,76.211.181.33,2019-08-20,2019-11-19,91.0,False,ds
377489,2019-10-21,05:52:38,7-classification/6.1-logistic-regression,476,34.0,136.50.49.145,2019-08-20,2019-11-19,91.0,False,ds
379887,2019-10-21,06:06:17,6-regression/5.0-evaluate,479,34.0,172.14.106.31,2019-08-20,2019-11-19,91.0,False,ds
379888,2019-10-21,06:06:22,6-regression/4.0-explore,479,34.0,172.14.106.31,2019-08-20,2019-11-19,91.0,False,ds
379889,2019-10-21,06:06:28,6-regression/5.0-evaluate,479,34.0,172.14.106.31,2019-08-20,2019-11-19,91.0,False,ds
379890,2019-10-21,06:08:20,6-regression/8.0-Project,479,34.0,172.14.106.31,2019-08-20,2019-11-19,91.0,False,ds
379891,2019-10-21,06:17:07,6-regression/6.0-feature-engineering,479,34.0,172.14.106.31,2019-08-20,2019-11-19,91.0,False,ds
379892,2019-10-21,06:20:12,6-regression/8.0-Project,479,34.0,172.14.106.31,2019-08-20,2019-11-19,91.0,False,ds
377507,2019-10-21,06:24:26,6-regression/7.0-model,476,34.0,136.50.49.145,2019-08-20,2019-11-19,91.0,False,ds
377508,2019-10-21,06:37:10,6-regression/6.0-feature-engineering,476,34.0,136.50.49.145,2019-08-20,2019-11-19,91.0,False,ds
377509,2019-10-21,06:38:06,6-regression/8.0-Project,476,34.0,136.50.49.145,2019-08-20,2019-11-19,91.0,False,ds
377510,2019-10-21,07:14:14,6-regression/6.0-feature-engineering,476,34.0,136.50.49.145,2019-08-20,2019-11-19,91.0,False,ds
376209,2019-10-21,07:18:41,6-regression/7.0-model,475,34.0,70.226.109.182,2019-08-20,2019-11-19,91.0,False,ds
376210,2019-10-21,07:19:02,6-regression/2.0-acquire-and-prep,475,34.0,70.226.109.182,2019-08-20,2019-11-19,91.0,False,ds
376211,2019-10-21,07:19:04,6-regression/3.0-split-and-scale,475,34.0,70.226.109.182,2019-08-20,2019-11-19,91.0,False,ds
376212,2019-10-21,07:19:05,6-regression/4.0-explore,475,34.0,70.226.109.182,2019-08-20,2019-11-19,91.0,False,ds
376213,2019-10-21,07:19:08,6-regression/5.0-evaluate,475,34.0,70.226.109.182,2019-08-20,2019-11-19,91.0,False,ds
373420,2019-10-21,08:02:13,6-regression/5.0-evaluate,471,34.0,99.158.246.101,2019-08-20,2019-11-19,91.0,False,ds
373421,2019-10-21,08:06:11,6-regression/8.0-Project,471,34.0,99.158.246.101,2019-08-20,2019-11-19,91.0,False,ds
382845,2019-10-21,08:11:41,6-regression/7.0-model,483,34.0,166.251.109.240,2019-08-20,2019-11-19,91.0,False,ds
382846,2019-10-21,08:37:24,6-regression/8.0-Project,483,34.0,166.251.109.240,2019-08-20,2019-11-19,91.0,False,ds
372760,2019-10-21,20:22:26,7-classification/6.1-logistic-regression,470,34.0,66.69.81.250,2019-08-20,2019-11-19,91.0,False,ds
370618,2019-10-21,21:42:36,7-classification/6.1-logistic-regression,466,34.0,71.78.109.210,2019-08-20,2019-11-18,90.0,False,ds

In [474]:
df_468 = df[df.id == 468]

In [475]:
df_468.ip.unique()

array(['97.105.19.58', '173.175.104.33', '136.50.54.2', '70.121.200.203',
       '67.11.124.64', '67.79.62.147'], dtype=object)

In [327]:
df_unk.columns = ['unk','id']

In [332]:
df_unk.groupby('unk_float').count()

           unk  id
unk_float
1.0         18  18
2.0          3   3
4.0          1   1
6.0          2   2
7.0          6   6
8.0          4   4
9.0          1   1
11.0         5   5
12.0         4   4
13.0        10  10
14.0        10  10
15.0         5   5
16.0         8   8
17.0        12  12
18.0        13  13
19.0        16  16
21.0        28  28
22.0        35  35
23.0        33  33
24.0        33  33
25.0        26  26
26.0        20  20
27.0        28  28
28.0        19  19
29.0        25  25
31.0        28  28
32.0        20  20
33.0        29  29
34.0        22  22
51.0        25  25
52.0        27  27

In [348]:
df_empty = df[df.unk_float.isna()]

In [349]:
df_empty

,date,time,path,id,unk_float,ip,min_date,max_date,date_diff,webdev_path,type
43925,2018-01-26,16:46:16,/,48,NaN,97.105.19.61,2018-01-26,2019-11-14,657.0,False,general
43926,2018-01-26,16:46:24,spring/extra-features/form-validation,48,NaN,97.105.19.61,2018-01-26,2019-11-14,657.0,True,webdev
43927,2018-01-26,17:54:24,/,48,NaN,97.105.19.61,2018-01-26,2019-11-14,657.0,False,general
43928,2018-01-26,18:32:03,/,48,NaN,97.105.19.61,2018-01-26,2019-11-14,657.0,False,general
43929,2018-01-26,18:32:17,mysql/relationships/joins,48,NaN,97.105.19.61,2018-01-26,2019-11-14,657.0,False,unk
43930,2018-01-26,18:32:33,mysql/tables,48,NaN,97.105.19.61,2018-01-26,2019-11-14,657.0,False,unk
43931,2018-01-26,18:32:37,mysql/databases,48,NaN,97.105.19.61,2018-01-26,2019-11-14,657.0,False,unk
43932,2018-01-26,18:32:43,mysql/relationships,48,NaN,97.105.19.61,2018-01-26,2019-11-14,657.0,False,unk
43933,2018-01-26,18:32:47,mysql/relationships/joins,48,NaN,97.105.19.61,2018-01-26,2019-11-14,657.0,False,unk
43934,2018-01-26,18:33:07,mysql/relationships,48,NaN,97.105.19.61,2018-01-26,2019-11-14,657.0,False,unk
43935,2018-01-26,18:33:13,mysql/database-design,48,NaN,97.105.19.61,2018-01-26,2019-11-14,657.0,False,unk
43936,2018-01-26,18:34:02,mysql/relationships/indexes,48,NaN,97.105.19.61,2018-01-26,2019-11-14,657.0,False,unk
43937,2018-01-26,18:34:33,spring/fundamentals/relationships,48,NaN,97.105.19.61,2018-01-26,2019-11-14,657.0,True,webdev
43938,2018-01-26,18:38:21,/,48,NaN,97.105.19.61,2018-01-26,2019-11-14,657.0,False,general
43939,2018-01-26,18:39:30,spring/extra-features/form-validation,48,NaN,97.105.19.61,2018-01-26,2019-11-14,657.0,True,webdev
43940,2018-01-26,18:39:37,spring/extra-features/error-pages,48,NaN,97.105.19.61,2018-01-26,2019-11-14,657.0,True,webdev
43941,2018-01-26,18:39:40,spring/extra-features/json-response,48,NaN,97.105.19.61,2018-01-26,2019-11-14,657.0,True,webdev
43942,2018-01-26,18:39:45,spring/extra-features/file-upload,48,NaN,97.105.19.61,2018-01-26,2019-11-14,657.0,True,webdev
43943,2018-01-26,18:39:49,spring/extra-features,48,NaN,97.105.19.61,2018-01-26,2019-11-14,657.0,True,webdev
43944,2018-01-26,18:39:55,spring/fundamentals/security/authentication,48,NaN,97.105.19.61,2018-01-26,2019-11-14,657.0,True,webdev
43945,2018-01-26,18:40:17,appendix/further-reading/spring/authorization,48,NaN,97.105.19.61,2018-01-26,2019-11-14,657.0,True,webdev
43946,2018-01-26,18:41:17,appendix/further-reading/spring/security-use-c...,48,NaN,97.105.19.61,2018-01-26,2019-11-14,657.0,True,webdev
43947,2018-01-26,19:40:30,mysql/databases,48,NaN,97.105.19.61,2018-01-26,2019-11-14,657.0,False,unk
43948,2018-01-26,19:41:05,mysql/tables,48,NaN,97.105.19.61,2018-01-26,2019-11-14,657.0,False,unk
43949,2018-01-26,19:41:14,mysql/sample-database,48,NaN,97.105.19.61,2018-01-26,2019-11-14,657.0,False,unk
43950,2018-01-26,19:41:47,mysql/intellij,48,NaN,97.105.19.61,2018-01-26,2019-11-14,657.0,False,webdev
43951,2018-01-26,19:44:01,mysql/sample-database,48,NaN,97.105.19.61,2018-01-26,2019-11-14,657.0,False,unk
43952,2018-01-26,19:48:12,mysql/users,48,NaN,97.105.19.61,2018-01-26,2019-11-14,657.0,False,unk
43953,2018-01-26,19:48:24,mysql/databases,48,NaN,97.105.19.61,2018-01-26,2019-11-14,657.0,False,unk
43954,2018-01-26,19:48:29,mysql/tables,48,NaN,97.105.19.61,2018-01-26,2019-11-14,657.0,False,unk
...,...,...,...,...,...,...,...,...,...,...,...
334979,2019-08-05,16:38:31,1-fundamentals/2.4-more-excel-features,429,NaN,98.6.153.146,2019-06-12,2019-11-10,151.0,False,unk
334980,2019-08-05,16:38:33,search/search_index.json,429,NaN,98.6.153.146,2019-06-12,2019-11-10,151.0,False,general
334981,2019-08-05,16:38:37,1-fundamentals/2.2-excel-functions,429,NaN,98.6.153.146,2019-06-12,2019-11-10,151.0,False,unk
334982,2019-09-17,17:58:53,/,429,NaN,172.124.70.113,2019-06-12,2019-11-10,151.0,False,general
334983,2019-09-17,17:58:57,jquery,429,NaN,172.124.70.113,2019-06-12,2019-11-10,151.0,True,webdev
334984,2019-09-19,17:13:41,/,429,NaN,172.124.70.113,2019-06-12,2019-11-10,151.0,False,general
334985,2019-09-19,17:13:44,jquery,429,NaN,172.124.70.113,2019-06-12,2019-11-10,151.0,True,webdev
334986,2019-10-03,17:37:36,/,429,NaN,172.124.70.113,2019-06-12,2019-11-10,151.0,False,general
334987,2019-10-03,17:37:40,6-regression/1-overview,429,NaN,172.124.70.113,2019-06-12,2019-11-10,151.0,False,ds
334988,2019-10-03,17:37:43,9-timeseries/1-overview,429,NaN,172.124.70.113,2019-06-12,2019-11-10,151.0,False,unk
334989,2019-10-03,17:37:45,10-anomaly-detection/1-overview,429,NaN,172.124.70.113,2019-06-12,2019-11-10,151.0,False,unk
334990,2019-10-03,17:37:46,10-anomaly-detection/AnomalyDetectionCartoon.jpeg,429,NaN,172.124.70.113,2019-06-12,2019-11-10,151.0,False,unk
334991,2019-10-03,17:37:50,6-regression/1-overview,429,NaN,172.124.70.113,2019-06-12,2019-11-10,151.0,False,ds
334992,2019-10-03,17:37:55,9-timeseries/1-overview,429,NaN,172.124.70.113,2019-06-12,2019-11-10,151.0,False,unk
334993,2019-10-03,17:49:28,9-timeseries/2-intro-to-timeseries,429,NaN,172.124.70.113,2019-06-12,2019-11-10,151.0,False,unk
334994,2019-10-14,21:04:34,/,429,NaN,172.124.70.113,2019-06-12,2019-11-10,151.0,False,general
334995,2019-10-14,21:04:39,/,429,NaN,172.124.70.113,2019-06-12,2019-11-10,151.0,False,general
334996,2019-10-14,21:04:40,html-css,429,NaN,172.124.70.113,2019-06-12,2019-11-10,151.0,True,webdev
334997,2019-10-14,21:04:43,html-css/introduction,429,NaN,172.124.70.113,2019-06-12,2019-11-10,151.0,True,webdev
334998,2019-10-24,20:17:23,/,429,NaN,72.181.106.116,2019-06-12,2019-11-10,151.0,False,general
334999,2019-10-24,20:18:56,javascript-i,429,NaN,72.181.106.116,2019-06-12,2019-11-10,151.0,True,webdev
335000,2019-10-24,20:23:00,jquery,429,NaN,72.181.106.116,2019-06-12,2019-11-10,151.0,True,webdev
335001,2019-10-24,20:23:03,javascript-i,429,NaN,72.181.106.116,2019-06-12,2019-11-10,151.0,True,webdev
335002,2019-10-24,20:23:05,javascript-i/bom-and-dom,429,NaN,72.181.106.116,2019-06-12,2019-11-10,151.0,True,webdev
335003,2019-10-24,20:23:19,javascript-i/bom-and-dom/bom,429,NaN,72.181.106.116,2019-06-12,2019-11-10,151.0,True,webdev
335004,2019-11-10,16:42:44,/,429,NaN,72.181.106.116,2019-06-12,2019-11-10,151.0,False,general
335005,2019-11-10,16:42:47,6-regression/1-overview,429,NaN,72.181.106.116,2019-06-12,2019-11-10,151.0,False,ds
335006,2019-11-10,16:42:51,10-anomaly-detection/1-overview,429,NaN,72.181.106.116,2019-06-12,2019-11-10,151.0,False,unk
335007,2019-11-10,16:42:51,10-anomaly-detection/AnomalyDetectionCartoon.jpeg,429,NaN,72.181.106.116,2019-06-12,2019-11-10,151.0,False,unk
335008,2019-11-10,16:42:54,12-distributed-ml/1-overview,429,NaN,72.181.106.116,2019-06-12,2019-11-10,151.0,False,unk