In [2]:
import pandas as pd

df = pd.read_csv('solar.csv')

In [5]:
df.head(2)

                   Date/Time  Energy Produced (Wh)
0  2018-10-11 00:00:00 -0500                  1985
1  2018-10-12 00:00:00 -0500                     0

In [7]:
df['Date/Time'] = df['Date/Time'].str.split(' ').str[0]

In [10]:
df = df[df['Energy Produced (Wh)'] > 0]

In [19]:
df = df[df['Date/Time'] != 'Total']

In [21]:
df['date'] = pd.to_datetime(df['Date/Time'])

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [23]:
df = df.drop(columns='Date/Time')

In [25]:
df.rename(columns={"Energy Produced (Wh)": "energy_produced"},inplace=True)

In [27]:
df.set_index('date')

            energy_produced
date
2018-10-11             1985
2018-11-07            10777
2018-11-08             7677
2018-11-09             7889
2018-11-10            12209
2018-11-11             5609
2018-11-12             4110
2018-11-13            36114
2018-11-14            37061
2018-11-15            29391
2018-11-16            35673
2018-11-17            20122
2018-11-18             6790
2018-11-19             5008
2018-11-20            29069
2018-11-21             3959
2018-11-22            10918
2018-11-23            26740
2018-11-24            16798
2018-11-25            16335
2018-11-26            34607
2018-11-27            29816
2018-11-28            27088
2018-11-29            23021
2018-11-30            13192
2018-12-01            33702
2018-12-02            32048
2018-12-03            23330
2018-12-04            31099
2018-12-05             8892
...                     ...
2019-10-03            30570
2019-10-04            32498
2019-10-05            34866
2019-10-06            34127
2019-10-07            27649
2019-10-08            35213
2019-10-09            25064
2019-10-10            31175
2019-10-11             7276
2019-10-12            21448
2019-10-13            15737
2019-10-14            16356
2019-10-15            22887
2019-10-16             4916
2019-10-17            29449
2019-10-18            35737
2019-10-19            28279
2019-10-20            15718
2019-10-21            36577
2019-10-22            35983
2019-10-23            34843
2019-10-24            11609
2019-10-25            37989
2019-10-26            36872
2019-10-27            36336
2019-10-28            15234
2019-10-29             4572
2019-10-30             3350
2019-10-31            37826
2019-11-01            33492

[361 rows x 1 columns]

In [30]:
from datetime import datetime
import itertools

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

from sklearn.model_selection import TimeSeriesSplit

In [ ]:
tss = TimeSeriesSplit(n_splits=5,max_train_size=None)
for train_index, test_index in tss.split(X):